

<div class="container setBorder">
    <h2 style="border: 1px;">Please Select <span style="color: blue;">{{status}}</span>:</h2>
    <div class="row border border-primary">
        <h4 class="col-md-3" *ngIf="yearChoosen">Selected Filter : </h4>
        <h5 class="col-md-2"  *ngIf="yearChoosen">Year : <span class="blue">{{yearChoosen}}</span></h5>
        <h5 class="col-md-2" *ngIf="makeChoosen">Make : <span class="blue">{{makeChoosen}}</span></h5>
        <h5 class="col-md-2" *ngIf="modelsChoosen">Model : <span class="blue">{{modelsChoosen}}</span></h5>
        <h5 class="col-md-3" *ngIf="trimChoosen">Trim : <span class="blue">{{trimChoosen}}</span></h5>
    </div>
    <div class="row">
        <div class="form-group setmargin row" style="margin-top: 3%;">
            <label class="col-md-3">Year : </label>
            <select class="col-md-3" name="years" [(ngModel)]="yearChoosen" (change)="getYearSelected()">
                <option value="Select Year" [selected]="true">Select Year</option>
                <option *ngFor="let y of years" value="{{y}}">{{y}}</option>
            </select>
        </div>
        


        

        <div *ngIf="yearSelected" class="form-group setmargin row" style="margin-top: 3%;">
            <label class="col-md-3">Make :</label>
            <select class="col-md-3" name="Make" [(ngModel)]="makeChoosen" (change)="getMakeSelected()">
                <option value="Select Make" [selected]="true">Select Make</option>
                <option *ngFor="let y of makes" value="{{y}}">{{y}}</option>
            </select>
        </div>


        <div *ngIf="makeSelected" class="form-group setmargin row" style="margin-top: 3%;">
            <label class="col-md-3">Model :</label>
            <select class="col-md-3" name="Models" [(ngModel)]="modelsChoosen" (change)="getModelSelected()">
                <option value="Select Model" [selected]="true">Select Model</option>
                <option *ngFor="let y of models" value="{{y}}">{{y}}</option>
            </select>
        </div>

        <div *ngIf="trimSelected" class="form-group setmargin row" style="margin-top: 3%;">
            <label class="col-md-3">Trim :</label>
            <select class="col-md-3" name="Trims" [(ngModel)]="trimChoosen">
                <option value="Select Trim" [selected]="true">Select Trim</option>
                <option *ngFor="let y of trims" value="{{y}}">{{y}}</option>
            </select>
        </div>
    </div>

    <div>
        <button *ngIf="trimSelected">FindTyre</button>
    </div>
</div>